/*================================================ FOOTER SECTION ===================*/
#timeHolder{
	color:#2185C4;
}

.snowStatsHolder, #waterStatsHolder{
	color:#2185C4;
	font-family:josefinBold, Helvetica, Arial, sans-serif;
}
