.mountain{
	pointer-events:none;
	position: fixed;
}

#mountainPeak{
	width:120%;
	z-index: 2;
	left:-10%;
	top:240vh;
	@media only screen and (max-width: $desktop-width-max){
		width:150%;
		left:-25%;
	}
}

#mountainLeft{
	width:40%;
	z-index: 1;
	left:0%;
	top:250vh;
	opacity:0.9;
}

#mountainRight{
	width:40%;
	z-index: 1;
	left:60%;
	top:240vh;
	opacity:0.8;
}
