/* XL-DESKTOP STYLES ////////////////////////////////////////////////////////////////////////////////////////////////*/
@media only screen and (min-width: $xtra-width) and (max-width: $beyond-width-max){
.hideForDesk{
	display: none;
}

#extendBrowser{
	display: none;
}

#minimizeBrowser{
	display: none;
}

#mainScrollArea{
	overflow: hidden;
	height:900vh;
	/*background-image: url("../images/backgroundCloudsBlue.jpg");
	width:100%;	
*/}

#scrollDownArrow{
	z-index: 10;
	position: absolute;
	width:25px;
	left: 50%;
	top: 95%;
	@include transform( translate(-50%,-50%) );
	opacity: 0;
 }

#backgroundCloudsOne{
	position: fixed;
	pointer-events:none;	
	width:170%;
	top:0%;
	z-index: -1;	
}

#logoDrop{
	z-index: 2;
	position: absolute;
	width:8.5%;
	left: 50%;
	top: -15%;
	@include transform( translate(-50%,-50%) );
	opacity: 0;
 }

#logoText{
	z-index: 2;
	position: absolute;
	width:20%;
	left: 50%;
	top: 62%;
	@include transform( translate(-50%,-50%) );
	opacity: 0;
 }

#fmaCloudOne{
	z-index: 3;
	position: absolute;
	width:90%;
	left: 0%;
	top: 95%;
	@include transform( translate(-50%,-50%) );
	opacity: 0;
 }

#fmaCloudTwo{
	z-index: 3;
	position: absolute;
	width:35%;
	left: 85%;
	top: 67%;
	@include transform( translate(-50%,-50%) );
	opacity: 0;
 }

#fmaCloudThree{
	z-index: 1;
	position: absolute;
	width:12%;
	left: 40%;
	top: 45%;
	@include transform( translate(-50%,-50%) );
	opacity: 0;
 }

#fmaCloudFour{
	z-index: 1;
	position: absolute;
	width:7%;
	left: 57%;
	top: 38%;
	@include transform( translate(-50%,-50%) );
	opacity: 0;
 }


/*======================================= HIDDEN CONTENT STYlES ===================*/
 h3{
 	font-size:28px;
 	color:$white;
 }

 h4{
 	font-size:24px;
 	color:$white;
 }

 h5{
 	font-size:21px;
 	color:$white;
 }

.hiddenContent{
 	background-color:rgba(250,250,250,.6);
 	padding:3% 3% 3% 3%;
 	border-radius: 3%;
 	opacity: 0;
 	position:fixed;
 	left:50%;
 	top:50%;
	overflow: hidden;	
}

 .hiddenContent h1{
 	font-size: 28px;
 	color:$blue;
	margin-bottom: 2%;
}

 .hiddenContent p{
 	color:$off-black;
 	font-size: 21px;
 	line-height: 26px;
 	margin-bottom: 2%;
}

.moreIcon{
	width:15%;
	margin:13% auto 2% auto;
}

.productIcon{
	width:30%;
	margin:13% auto 2% auto;	
}

#productMock{
	width:80%;
	margin:13% auto 2% auto;
}

.moreList p{
	font-family:$josefin-semi;
 	color:$off-black;
 	font-size: 23px;
 	line-height: 28px;
}

/*======================================== ABOUT SECTION ===================*/
#aboutSection{
	width:100%;
	height: 200vh;	
	position: relative;
	top:-100vh;
}

 #aboutContent{
 	width:35%;
 	height: 30vh;
 	z-index:1;
	transform:translate(-10%,-50%);
	-o-transform:translate(-10%,-50%);
	-webkit-transform:translate(-10%,-50%);
	-moz-transform:translate(-10%,-50%);
 }

/*========================================== CRISIS SECTION ===================*/
#crisisSection{
	width:100%;
	height: 200vh;	
	position: relative;
	top:-430vh;
}

 #crisisContent{
 	width:35%;
 	height: 30vh;
 	z-index:1;
	transform:translate(-90%,-50%);
	-o-transform:translate(-90%,-50%);
	-webkit-transform:translate(-90%,-50%);
	-moz-transform:translate(-90%,-50%);
 }


/*============================================ PRODUCT SECTION ===================*/
#productSection{
	width:100%;
	height: 200vh;	
	position: relative;
	top:-720vh;
	z-index: 3;
}

#mountainPeak{
	position: fixed;
	width:120%;
	z-index: 2;
	left:-10%;
	top:240vh;
}

#mountainLeft{
	position: fixed;
	width:40%;
	z-index: 1;
	left:0%;
	top:250vh;
	opacity: .9;
}

#mountainRight{
	position: fixed;
	width:40%;
	z-index: 1;
	left:60%;
	top:240vh;
	opacity: .8;
}

 #productContent{
 	width:35%;
 	height: 30vh;
 	z-index:1;
	transform:translate(-10%,-50%);
	-o-transform:translate(-10%,-50%);
	-webkit-transform:translate(-10%,-50%);
	-moz-transform:translate(-10%,-50%);
 }

/*============================================ CAUSE SECTION ===================*/
#causeSection{
	width:100%;
	height: 200vh;	
	position: relative;
	top:-1030vh;
	z-index: 3;
}


 #causeContent{
 	width:35%;
 	height: 30vh;
 	z-index:3;
	transform:translate(-90%,-50%);
	-o-transform:translate(-90%,-50%);
	-webkit-transform:translate(-90%,-50%);
	-moz-transform:translate(-90%,-50%);
 }


/*=========================================== FOOTER SECTION ===================*/
#footerSection{
	width:100%;
	height: 100vh;	
	z-index: 10;
	position: relative;
	top:-1350vh;
}

#footerSection .social{
	z-index: 4;
	cursor: pointer;
	width:3%;
	opacity: 1;
 	@include transition(width, 1s);
	position: absolute;
	@include transform( translate(-50%,-50%) );
 }

 #snowingStats{
 	width:35%;
 	height: 30vh;
 	z-index:3;
	@include transform( translate(-50%,-50%) );
 }

.statsIcon{
 	float:left;
	width:15%;
	margin:10% 18% 2% 17%;
}

.statsText{
	float:left;
	width:45%;
	margin:0% 0% 0% 5%;	
}

/*============== COPYRIGHT =========**/
#copyright{
	position: absolute;
	width:100%;
	z-index: 10;
}

#copyright p{
	font-size:16px;
	line-height:16px;	
	color:$white;
}

#designby{
	position:absolute;
	left:3%;
	color:$white;
}

#copyrightText{
	position:absolute;
	right:3%;
	color:$white;
}

span{
	color:$white;
	text-decoration:none;
}

span:hover{
	text-decoration:underline;
}



}/*======== CLOSE XL-DESKTOP RESPONSIVE =========*/