/* grid.scss */

$grid-gutter:		3.125%;
$grid-col-num:		12;
$grid-col-width:	((100 - 11 * $grid-gutter) / 12);

.test-grid {
	line-height: 0;
}

.row {
	clear: both;
	position: relative;
	@media (min-width: $mobile-width) {
		left: 0 !important;
	}
}

.row--truncated {
	& > *:first-child {
		margin-left: 0;
	}
	margin: 0 auto;
	width: 95%;
	max-width: 1040px;
	@media (max-width: $mobile-width) {
		width: 95%;
	}
}

.row--truncated--full {
	width: 100%;
	max-width: $max-width;
	@media (max-width: $mobile-width) {
		width: 100%;
	}
}

.row--truncated--narrow {
	max-width: 960px;
	width: 90%;
	@media (max-width: $mobile-width) {
		width: 90%;
	}
}

.ie {
	.grid__row {
		min-width: $max-width;
	}
	.grid__row--truncated {
		width: $max-width;
	}
}

// Columns and spans

.row__cell{
	display: inline;
	float: left;
	position: relative;
}

.row__cell + .row__cell{
	margin-left: $grid-gutter;
}

.first {
	margin-left: 0;
}

.row__cell--right {
	float: right;
}

.column-inner {
	padding: 0 5%;
}
.row__cell--span1 {
	width: $grid-col-width;
}

.row__cell--span2 {
	width: 2 * $grid-col-width + $grid-gutter;
}

.row__cell--span3 {
	width: 3 * $grid-col-width + 2 * $grid-gutter;
}

.row__cell--span4 {
	width: 4 * $grid-col-width + 3 * $grid-gutter;
}

.row__cell--span5 {
	width: 5 * $grid-col-width + 4 * $grid-gutter;
}

.row__cell--span6 {
	width: 6 * $grid-col-width + 5 * $grid-gutter;
}

.row__cell--span7 {
	width: 7 * $grid-col-width + 6 * $grid-gutter;
}

.row__cell--span8 {
	width: 8 * $grid-col-width + 7 * $grid-gutter;
}

.row__cell--span9 {
	width: 9 * $grid-col-width + 8 * $grid-gutter;
}

.row__cell--span10 {
	width: 10 * $grid-col-width + 9 * $grid-gutter;
}

.row__cell--span11 {
	width: 11 * $grid-col-width + 10 * $grid-gutter;
}

.row__cell--span12 {
	width: 100%;
	margin-left: 0;
}

// Screen size targeting

.desktop-only {
	display: block;
}

.tablet-only {
	display: none;
}

.mobile-only {
	display: none;
}

.desktop-hide {
	display: none;
}

.tablet-hide {
	display: block;
}

.mobile-hide {
	display: block;
	&--inline {
		display: inline-block;
	}
}

@media (max-width : $tablet-width) {
	.tablet-first {
		margin-left: 0 !important;
	}

	.desktop-only {
		display: none;
	}

	.tablet-only {
		display: block;
	}

	.desktop-hide {
		display: block;
	}

	.tablet-hide {
		display: none;
	}
}

@media (max-width : $mobile-width) {
	.mobile-first {
		margin-left: 0 !important;
	}

	.tablet-only {
		display: none;
	}

	.mobile-only {
		display: block;
	}

	.tablet-hide {
		display: block;
	}

	.mobile-hide, .mobile-hide--inline {
		display: none;
	}

	.row__cell, .row__cell--span3 {
		margin-left: 0;
	}

	.row__cell--span1 {
		width: 100%;
	}

	.row__cell--span2 {
		width: 100%;
	}

	.row__cell--span3 {
		width: 100%;
	}

	.row__cell--span3 .row__cell--span1, .row__cell--span3 .row__cell--span2 {
		width: 100%;
	}

	.row__cell--span4 {
		width: 100%;
	}

	.row__cell--span5 {
		width: 100%;
	}

	.row__cell--span6 {
		width: 100%;
	}

	.row__cell--span7 {
		width: 100%;
	}

	.row__cell--span8 {
		width: 100%;
	}

	.row__cell--span9 {
		width: 100%;
	}

	.row__cell--span10 {
		width: 100%;
	}

	.row__cell--span11 {
		width: 100%;
	}
}
